body {
  background-image: url("../../img/newspaper.jpg");
  background-attachment: fixed;
  font-size: 18px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f0f0f2;
}
.get-involved-now {
  background-image: url("../../img/get-involved.png");
}

nav {
  background-color: rgba(0, 0, 0, 0.473);
}
.hero-section {
  background-color: rgba(0, 0, 0, 0.473);
  height: 80vh;
}
